<button 
  class="btn btn-primary url-copier-btn"
  {{action "copyModifiedUrl"}}
  title="{{siteSettings.discourse_url_copier_button_text}}"
>
  {{d-icon "copy"}}
  {{siteSettings.discourse_url_copier_button_text}}
</button>
